# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
nupkgs/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.cache
*.vsidx
*.log

# Rider
.idea/

# Test Results
[Tt]est[Rr]esult*/
*.trx

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
